.hobbies{
    background-color:#F5F5F5;
    padding: 1rem 3rem 1rem 3rem;
}
    

.hobbies__titulo{
    text-align: center;
    color:#3d1661;
    font-weight: 700;
    font-family:Inter, sans-serif;
    font-size: 1.5rem;
    margin: 1.5rem
}